{% extends 'layout/header.html'%}
{%block content%}
<div class="container">
<div class="section no-pad-bot">
    <div class="row">
        <div class="col s12 m12 l8 offset-l2">
        <div class="card-panel">
            <h3 class="blue-text center-align">Sign Up Portal</h3>
            {%if messages%}{%for message in messages%}
                <div class="chip {{message.tags}}">
                {{message|safe}}<i class='material-icons'>close</i>
                </div>
            {%endfor%}{%endif%}
            <p class="center-align">Enter the information given below.</p>
            <form action='/auth/signup/' method='post'>
                {%csrf_token%}
                <div class="row">
                    <div class="input-field col s6">
                        <!-- {{ user_form.first_name.errors}} -->
                        <i class='material-icons prefix'>font_download</i>
                        <input type="text" name="first_name" id="first_name" class="validate" />
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <!-- {{ user_form.last_name.errors}} -->
                        <input type="text" name="last_name" id="last_name" class="validate" />
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <!-- {{ user_form.username.errors}} -->
                        <i class='material-icons prefix'>account_circle</i>
                        <input type="text" name="username" id="username" class="validate" />
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ profile_form.birthdate.errors}}
                        <i class='material-icons prefix'>event</i>
                        <input type="date" name="birthdate" id="dateofbirth" class="datepicker" />
                    </div>
                    <div class="input-field col s6">
                        <!-- {{ profle_form.gender.errors}} -->
                        <select name="gender" id="gender">
                            <option value="M"> Male</option>
                            <option value="F"> Female</option>
                            <option value="O"> Others</option>
                        </select>
                        <label for="gender">Gender</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <!-- {{ user_form.email.errors}} -->
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="email" name="email" class="validate">
                        <label for="email">Email ID</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ profle_form.phone.errors}}
                        <i class='material-icons prefix'>phone</i>
                        <input type="tel" name="phone" id="phone" class="validate">
                        <label for="phone">Phone</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ user_form.password.errors}}
                        <i class="material-icons prefix">lock</i>
                        <input type="password" name="password" id="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <button class="btn waves-effect waves-light blue">Sign Up</button>
                    </div>
                </div>
            </form>
            <p class="center-align">Already signed up ?<a href="/auth/login"> Sign In</a></p>
        </div>
        </div>
    </div><!-- ./row -->
</div><!-- ./section -->
</div><!-- ./container -->
{%endblock%}
{%block foots%}
<script>
  (function($){
    $('.dropdown-button').dropdown({
        constrain_width: true, // Does not change width of dropdown to that of the activator
    });
    $('.button-collapse').sideNav();
    $('select').material_select();
    $(function(){
      $('.datepicker').pickadate({
        min: new Date(1990, 1,1),
        max: new Date(),
        selectMonths:true,
        format:'yyyy-mm-dd',
        selectYears:true,
       });
    }); // end of document ready
  })(jQuery); // end of jQuery name space
</script>
{%endblock%}