{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rajmani Arya">
    <meta name="description" content="A todo application developed using django">
    <meta name="keywords" content="todos, todo, django, app, rajmani arya">
    <title> ToDos | {{title}} </title>
    <link rel="stylesheet" href="{%static 'css/materialize.css' %}" >
    {%block heads%}{%endblock%}
</head>
<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo"> ToDos </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/"><i class='medium material-icons'>home</i></a></li>
                <li><a href="/todo/"> Todo</a></li>
                {% if user.is_authenticated %}
                <li><a href="#" class="dropdown-button" data-activates='drop1'>
                    <!-- <img width="40" height="40" src="/media/{{ user.userprofile.picture }}"> -->
                    <i class='medium material-icons'>account_circle</i></a></li>
                <ul class="dropdown-content" id="drop1">
                  <li><a href="/auth/profile/">My Profile</a></li>
                  <li><a href="/auth/upload">Change Avatar</a></li>
                  <li><a href="/auth/change_password/">Change Password</a></li>
                  <li><a href="/auth/logout/"> Logout</a></li>
                </ul>
                {%else%}
                  <li><a href="/auth/login/">Log In</a></li>
                  <li><a href="/auth/signup/">Sign Up</a></li>
                {%endif%}
            </ul> 
            <ul id="nav-mobile" class="side-nav">
                <li><a href="/"><i class='medium material-icons'>home</i></a></li>
                <li><a href="/todo/"> Todo</a></li>
                {% if user.is_authenticated %}
                <li><a href="#" class="dropdown-button" data-activates='drop2'>
                  <!-- <img class="responsive-img" width="50" height="50" src="/media/{{ user.userprofile.picture }}"> -->
                    <i class='medium material-icons'>account_circle</i></a></li>
                  </a></li>
                <ul class="dropdown-content" id="drop2">
                  <li><a href="/auth/profile/">My Profile</a></li>
                  <li><a href="/auth/upload">Change Avatar</a></li>
                  <li><a href="/auth/change_password/">Change Password</a></li>
                  <li><a href="/auth/logout/"> Logout</a></li>
                </ul>
                {%else%}
                  <li><a href="/auth/login/">Log In</a></li>
                  <li><a href="/auth/signup/">Sign Up</a></li>
                {%endif%}
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    
    <!-- Main content goes here -->
    {%block content%}{%endblock%}
    
    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">Lets put some description here.</p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="#">Materialize</a>
            </div>
        </div>
    </footer>
    <!-- Scripts added ended for better page loading -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    {%block foots%}{%endblock%}
</body>
</html>
